<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LocalisationFilter</filter-name>
        <filter-class>com.bionic.socialnetwork.filter.LocalisationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocalisationFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.bionic.socailnetwork.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgServlet</servlet-name>
        <servlet-class>com.bionic.socailnetwork.servlet.ImgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImgServlet</servlet-name>
        <url-pattern>/ImgServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Your Description</description>
        <res-ref-name>jdbc/network</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
